@using Microsoft.AspNet.Identity
@model EventsPlannerMvc.Models.Idea

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Idea Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.User.Username)
        </dd>
        <dt>
            Rating
        </dt>
        <dd>
            <div class="my-rating jq-stars" data-rating=@Model.GetRating></div>
        </dd>
        @if(Model.Votes.Count>0)
        { 
            <dt>
                Idea Votes
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Voter</th>
                        <th>Vote</th>
                    </tr>
                    @foreach (var v in Model.Votes)
                    {

                        <tr>
                            <td>@v.Member.User.Username</td>
                            <td><div class="my-rating1 jq-stars" data-rating=@v.VoteCode1.Value></div></td>
                        </tr>
                    
                    }
                </table>
            </dd>
        }
    </dl>
</div>
<p>
    <!--if event's owner is logged in user then show edit, else show 'Add Idea'-->
    @if (Model.Member.User.Username.Equals(User.Identity.GetUserName()))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        <span>|</span>
    }
    @Html.ActionLink("Add Vote", "Create", new { controller = "Votes", memberID = Model.Member.Id, ideaID=Model.Id }) |
    @Html.ActionLink("Back to Ideas List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<link href="~/Content/star-rating-svg.css" rel="stylesheet" />
<script src="~/Scripts/jquery.star-rating-svg.js"></script>
<script language="javascript">
    $(document).ready(function () {
        $(".my-rating").starRating({
            starSize: 25,
            readOnly: true

        });

        $(".my-rating1").starRating({
            starSize: 19,
            readOnly: true

        });
    });
</script>



}

