@using Microsoft.AspNet.Identity
@model IEnumerable<EventsPlannerMvc.Models.Idea>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Idea Owner
        </th>
        <th>
            Date of Event
        </th>
        <th>
            Rating
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.User.Username)
        </td>
        <td>
            @item.Member.Event.EventDate
        </td>
        <td>
            @item.GetRating
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @if (User.Identity.GetUserName().Equals(item.Member.User.Username))
            {
                <span>|</span>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                <span>|</span>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
