@model EventsPlannerMvc.Models.Vote

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vote</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(model => model.Idea, "Idea")

        @Html.DropDownList("VoteCode", null, htmlAttributes: new { @class = "hidden" })

        <div class="my-rating jq-stars"></div>

        @Html.HiddenFor(model => model.Voter,"Voter")
        @Html.HiddenFor(model => model.Id,"Id")

        <br />


                <input type="submit" value="Submit" class="btn btn-default" />

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Content/star-rating-svg.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.star-rating-svg.js"></script>
    <script language="javascript">
    $(document).ready(function () {

        $(".my-rating").starRating({
            starSize: 40,
            useFullStars: true,
            initialRating: 0,
            callback: function (currentRating, $el) {
                //alert('rated ' + currentRating);
                //console.log('DOM element ', $el);
                $("#VoteCode").prop('selectedIndex', currentRating-1);
            }
        });
    });
    </script>



}