@model EventsPlannerMvc.Models.Vote

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vote</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(model => model.Idea, "Idea")

        <div class="form-group">
            @Html.LabelFor(model => model.VoteCode, "VoteCode", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VoteCode", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VoteCode, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Voter,"Voter")
        @Html.HiddenFor(model => model.Id,"Id")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
