@using Microsoft.AspNet.Identity
@model EventsPlannerMvc.Models.Event

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Event</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EventDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control",autocomplete="off" } })
                @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <br />
            <h4>Members</h4>
            <table class="table">
                <tr>
                    <th>Search</th>
                    <th>Invited Members</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="searchBox" placeholder="e.g. ramiz@test.com" class="my-form-control" autocomplete="off"/>
                        <button type="button" id="searchButton" class="btn btn-default">Add</button>
                        <div hidden="hidden" id="ErrorMessage"><span class="text-danger">User not found.</span></div>
                    </td>
                    <td>
                        <ul id="membersList">
                            <li>@User.Identity.GetUserName()</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <br />
        <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.datetimepicker.full.js"></script>
    <script language="javascript">
        $(document).ready(function() {
            $("#EventDate").datetimepicker({
                format: 'd/m/Y H:i'
            });

            $("#searchButton").click(function () {
                $("#ErrorMessage").hide();

                var value = btoa($("#searchBox").val());
                if (NotInList())
                {
                    $.getJSON('/Users/IsUserFound/' + value)
                        .done(function (data) {
                            if (data.Data.length === 0)
                                $("#ErrorMessage").show();
                            else {
                                $("#membersList").prepend("<li>" + $("#searchBox").val() + "</li>");
                            }
                        })
                        .fail(function (jqXHR, textStatus, err) {
                            alert('Error: ' + err);
                        });
                }
            });

            function NotInList()
            {
                var value = $("#searchBox").val();
                //alert(value);
                var list = document.getElementById('membersList');
                var list_items = list.getElementsByTagName("li");
                for (var i = 0; i < list_items.length; i++) {
                    //alert('Value at position ' + i + ' is ' + list_items[i].innerHTML);
                    if (list_items[i].innerHTML === value) {
                        //alert("They are equal");
                        return false;
                    }
                }
                return true;
            }
        });
    </script>
}
