@using Microsoft.AspNet.Identity
@model IEnumerable<EventsPlannerMvc.Models.Event>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Events Planner</h1>
    <p class="lead">A web application for the rating of event ideas.</p>
</div>

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
    <p>Start by creating a new <a href="Events/Create">Event</a></p>
    }
    @if(User.Identity.IsAuthenticated && Model.Count()>0)
    {
        <h2>Upcoming Events</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventOwner)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Username)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        @if(User.Identity.GetUserName().Equals(item.User.Username))
                        { 
                            <span>|</span>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            <span>|</span>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }
                    </td>
                </tr>
            }

        </table>
    }

</div>