@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Events Planner</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Events Planner", "Index", "Events", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Events", "Index", "Events")</li>
                        <li>@Html.ActionLink("Ideas", "Index", "Ideas")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Events Planner</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style>
        #round {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            overflow: hidden;
        }
    </style>
    <script language="javascript">
        $(document).ready(function () {

            $.getJSON('/Users/IsUserProfilePhotoFound/')
                .done(function (data) {
                    if (data.Data.length === 0)
                    {
                        $("#profilePhoto").hide();
                    }
                    else {
                        document.getElementById("profilePhoto").src = "data:image/jpg;base64," + data.Data;
                    }
                })
                .fail(function (jqXHR, textStatus, err) {
                    alert('Error: ' + err);
                });




        });

    </script>

</body>
</html>
